body {
    font-family: Arial, sans-serif;
    background-color: #6b8bdc;
}

.form-container {
    width: 350px;
    margin: 60px auto;
    background-color: rgb(204, 192, 192);
    padding: 25px;
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #1e3a8a;
}

.field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 12px;
}

#strength {
    font-size: 13px;
    margin-top: 5px;
}
