body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6fb;
}

header {
    background-color: #152439;
    color: white;
    text-align: left;
    font-family: cursive;
    padding: 15px;
}

nav {
    background-color: #2563eb;
    text-align: center;
    padding: 10px;
}

section {
    background-color: #f8fafc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

article {
    margin-top: 10px;
    padding: 10px;
    border-left: 4px solid #2563eb;
}

h2, h3 {
    font-weight: bold;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #06162e;
    color: white;
    text-align: center;
    padding: 5px;
    height: 60px;
}
